<app-header class="rsvp-header" [header]="'Въпроси'"></app-header>

<div *ngFor="let item of questions" class="">
  <p>
    {{item.question}} (от: {{item.email}})
  </p>
</div>



<app-header class="rsvp-header" [header]="'Видяли са'"></app-header>
<div *ngFor="let item of seen" class="">
  <p>
    {{stringify(item)}}

  </p>
</div>

<app-header class="rsvp-header" [header]="'Лог'"></app-header>

<div class="log">

  <div *ngFor="let item of log">
    <p>
      Хора:     {{stringify(item.result)}} (номер {{item.result.number}})
    </p>
  </div>
</div>
