:host {
    position: relative;
    display: flex;
    flex-direction: column;

    .philip,
    .yana {
        width: 40%;
        border-radius: 50%;
    }

    .both {
        width: 100%;
        align-self: center;
    }
}


@media only screen and (min-width: 650px) {
    :host {
        width: 604.5px;
    }
}

@media only screen and (max-width: 650px) {
    :host {
        width: 93%;
    }
}

.quote {
    display: flex;
    align-items: center;
}

.justify {
    text-align: justify;
    padding: 25px 15px;
}

b {
    font-size: 40px;
}