<div class="quote">
    <img src="assets/yana.jpg" class="yana">
    <h3>
        <b></b>Tъркулнало се гърнето, ...<b></b>
    </h3>
</div>
<div class="quote">
    <h3>
        <b></b>... та си намерило похлупака.<b></b>
    </h3>
    <img src="assets/philip.jpg" class="philip">
</div>
<h5 class="justify">
    <b>З</b>аедно сме вече 4 години и решихме, че искаме да продължим да спорим какво ще ядем днес до края на живота
    си. Филип прие, че понякога ще му се налага да става в 4 часа и да гази до колене в блатата за съмнителната
    възможност да срещне рядка птица. А Яна се съгласи Филип и котката да я будят през останалото време.
</h5>
<img src="assets/both.jpg" class="both">
