// regular style toast
@import '~ngx-toastr/toastr';
@import "~bootstrap/scss/bootstrap";



/* You can add global styles to this file, and also import other style files */
body {
  // width:100%;
  margin: 0px;
  display: flex;
  align-items: center;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates';
  // font-weight: bolder;
  background: url('assets/bkg2.jpg');
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}


.horizontal {
  justify-content: space-evenly;
}

.rounded {
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin: 1vw;

  input {
    margin-right: 15px;
  }
}


// .form-check-input {
//   min-width: 1em !important;
// }

@media only screen and (max-width: 2000px) {
  .max {
    width: 100%;
    max-width: 80vw;
    // padding: 0 2em;
    // font-size: 3vw;
  }

}

@media only screen and (max-width: 600px) {
  .max {
    width: 100%;
    max-width: 80vw;
    // padding: 0 2em;
    // font-size: 3vw;
  }

}

.btn-primary,
.form-check-input:checked {
  color: #fff;
  background-color: #a0856e;
  border-color: #c2b1a1;
  border-radius: 15px;
}

.btn-outline-primary {
  border-color: #83614380;
  color: #836143;
  border-radius: 15px
}

.form-control {
  border-radius: 15px;
}

.form-control:focus,
.form-control.is-valid:focus,
.form-control.is-invalid:focus {
  box-shadow: 0 4px 20px #ccad90;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #8361436c;
  border-color: #83614346;
  border-radius: 15px;
}

.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-primary:hover {
  background-color: #836143;
  border-color: #ccad90;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #e4caaf;
}

::-webkit-scrollbar-thumb {
  background: #ffffff86;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.spin-img {
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
}

.nav-link {
  font-weight: bolder;
}

.form-check-input:focus {
  border-color: #ccad90;
  box-shadow: 0 4px 20px #ccad90;
}

.form-select {
  border-radius: 15px;
}

.form-select:focus {
  border-color: #ccad90;
  box-shadow: 0 4px 20px #ccad90;
}

.menu-label {
  margin-top: 15px;
  text-align: left;
  padding-left: 5px;
  padding-top: 2px;
  width: 100%;
}

.select-name {
  max-width: 50%;
}


.btn-link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.card {
  border-radius: 15px;
  margin: 15px;
}

.card-header {
  border-radius: 15px !important;
  border: none !important;
}

select,
select:focus {

  option:hover,
  option:active,
  option:checked {
    background: #ccad90 !important;
  }
}

app-invitation {
  font-family: 'Amatic SC', cursive;
}

.place-header,
.program-header,
app-maps,
app-programa {
  position: relative;
  top: -45px;
}

.rsvp-header,
.qna-header,
app-questions,
app-about-us,
app-rsvp {
  position: relative;
  top: -65px;
}

iframe,
.map {
  width: 100%;
}

accordion-group {
  .accordion-toggle {
    display: flex;
    justify-content: center;

    .btn {
      height: 22px;
      color: #fff;
      padding: 0;
      display: flex;
      align-items: center;

      &:focus,
      &:hover {
        color: #fff;
        box-shadow: none;
      }
    }
  }

  .panel-body {
    text-align: justify;
  }

  .panel-heading {
    color: #fff;
    background-color: #a0856e;
    border-color: #c2b1a1;
    border-radius: 15px;
    height: 38px;

    &:hover {
      background-color: #836143;
      border-color: #ccad90;
    }
  }
}

.dropdown-item:active {
  background-color: #836143;
}

.dropdown-item:hover {
  background-color: #ccad90;
}

.btn-outline-primary:disabled {
  color: black;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #836143;
  border-color: #836143;
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

a {
  cursor: pointer;
}
