<accordion [isAnimated]="true">
  <accordion-group heading="Дрескод">
    Булката ще бъде в дълга снежнобяла рокля. Каква изненада, а? За всички останали дрескодът е морска сватба. Облечете
    най-хубавите си рокли и смокинги, ако морската влага и летният зной не ви плашат. Или пък заложете на бански и
    плажни хавлии, ако планирате да си лежите на пясъчната страна на партито. Ако питате нас, какво да обличате, може и
    да не останете особено доволни, така че заложете на нещо красиво и удобно, за да бъде купонът на макс. А ние
    обещаваме да адмирираме всяко модно решение.
    П.П. Не забравяйте, че времето вероятно ще е топло и дори горещо, но нощният плаж предполага и прохладен бриз.
  </accordion-group>
  <accordion-group heading="Деца">
    Трябва да напомним, че заведението се намира непосредствено до морето, събитието е вечерно, а менюто включва
    алкохолни напитки. Не се предвижда специална организация за деца и ние няма да можем да се погрижим за тяхното
    забавление и безопасност без ваша помощ.
  </accordion-group>
  <accordion-group heading="Настаняване">
    Може би сте забелязали, че нашата сватба ще се проведе точно преди деня на Съединението на България. Дългият уикенд
    (04.09-06.09.2021) може да бъде удобство, но крие и някои рискове, свързани с настаняването. По това време
    традиционно се провежда Рибен фест Царево, което също може да усложни ситуацията с наличните места. Препоръчваме ви
    да помислите възможно най-рано за това къде предпочитате да отседнете и да се погрижите за резервациите. Ако
    срещнете някакви трудности, не се колебайте да се свържете с нас!
  </accordion-group>
</accordion>

<div class="margin">
  <div class="form-group">
    <label for="exampleFormControlTextarea1" class="menu-label"><b>Задай въпрос</b></label>
    <textarea [(ngModel)]="question.question" maxlength=350 class="form-control" id="exampleFormControlTextarea1"
      rows="3" placeholder="Напишете ни въпрос (между 10 и 350 символа)"></textarea>
  </div>
</div>

<div class="margin">
  <div class='menu-label'><b>Email</b></div>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
    [(ngModel)]="invitation.email"
    [ngClass]="{'is-valid': isEmailValid() === true, 'is-invalid': isEmailValid() === false}">
</div>

<button *ngIf="!this.isUpdated" type="button" class="btn btn-primary max"
  [disabled]="isLoading || !isEmailValid() || !(question.question.length > 10 && question.question.length < 350)"
  (click)="this.sendQuestion(); this.isLoading = true">Запази
  <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</button>
<button *ngIf="this.isUpdated" type="button" class="btn btn-outline-primary max" [disabled]="true">Запазено!
  Благодарим!</button>