@media only screen and (min-width: 650px) {
  :host{
    width: 604.5px;
  }
}

@media only screen and (max-width: 650px) {
  :host{
    width: 93%;
  }

}

textarea.form-control {
  height: 200px;
}

.margin {
  margin: 20px;
}

button {
  width: calc(100% - 30px);
  margin: 0 15px;
}
