:host {
  display: flex;
  // box-shadow: 0px 35px 25px rgba(0, 0, 0, 0.021);
  align-items: center;
  width: 100%;
  background: none;
  position: absolute;
  padding: 0.5rem 0;

  ul {
    display: flex;
    align-items: center;
    flex-direction: row
  }

  .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(10px);
  }

  .nav-item {
    border-radius: 5px;
  }

  .navbar-nav {
    display: flex;
    flex-flow: row;
    // width: 80vw;
  }

  .logo {
    height: 50px;
  }

  button {
    margin: 1vw;
  }

  @media only screen and (min-width: 600px) {

    li,
    li a {
      margin: 0 1vw;
      width: max-content;
    }
      .small-navbar {
        display: none;
        visibility: hidden;
      }
  }

  @media only screen and (max-width: 600px) {

    li,
    li a {
      margin: 0 1vw;
      width: max-content;
      font-size: 90%;
      font-weight: bold;
    }
    .large-navbar {
      display: none;
    visibility: hidden;
    }

  }

  a:hover {
    color: black !important;
  }

  a {
    color: #212529 !important;
  }

}

.navbar-nav {
  height: 50px;
}

nav .navbar-nav li a:hover {
  color: black !important;
}

.no-borders {
  border-style: none;
  background-color: transparent;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 5px;
}
