<ul class="navbar-nav large-navbar">
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('invitation')">Начало</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('about-us')">За нас</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('rsvp')">Отговор</a>
  </li>
  <img src="assets/logoYF.png" class="logo">
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('programa')">Програма</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('maps')">Място</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="scroll('questions')">Въпроси</a>
  </li>
</ul>
<div class="dropdown small-navbar">
  <button class="no-borders" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="assets/logoYF.png" class="logo"><i class="arrow down"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="">
    <a class="dropdown-item" (click)="scroll('invitation')">Начало</a>
    <a class="dropdown-item" (click)="scroll('about-us')">За нас</a>
    <a class="dropdown-item" (click)="scroll('rsvp')">Отговор</a>
    <a class="dropdown-item" (click)="scroll('programa')">Програма</a>
    <a class="dropdown-item" (click)="scroll('maps')">Място</a>
    <a class="dropdown-item" (click)="scroll('questions')">Въпроси</a>
  </div>
</div>
