:host {
  display: flex;
  // box-shadow: 0px 35px 25px rgba(0, 0, 0, 0.021);
  align-items: center;
  width: 100%;
  margin-bottom: -7vw;
  background: none;
  position: relative;
  top: -10vw;
  ul {
    display:flex;
    align-items: center;
    flex-direction:row
  }
  .nav-item:hover {
    background-color:rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(10px);
  }
  .nav-item {
    border-radius: 5px;
  }
  .navbar-nav {
    display: flex;
    flex-flow: row;
    // width: 80vw;
  }
  button {
    margin: 1vw;
  }
  @media only screen and (max-width: 2000px) {
    li, li a {
      margin: 0 1vw;
      width: max-content;
    }

  }
  @media only screen and (max-width: 600px) {
    li, li a {
      margin: 0 1vw;
      width: max-content;
      font-size: 90%  ;
    }

  }
   a:hover{
    color: black !important;
  }
  a{
    color: #212529 !important;
  }

}

