<div class="plusone-container">

<div class="horizontal max first">

  <form>
    <label for="exampleFormControlInput1" class="form-label menu-label"><b>Име на придружител</b></label>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Име на придружител" name="name" [(ngModel)]="person.name" [ngClass]="{'is-valid': isNameValid() === true, 'is-invalid': isNameValid() === false}">
    </div>
  </form>

  <div class="child">
    <label><b>Дете</b></label>
    <input type="checkbox" [(ngModel)]="person.isChild" [checked]="person.isChild">
  </div>
</div>
  <label class='menu-label'>
    <b>Меню</b>
  </label> 
  <select class="form-select"  [(ngModel)]="person.menu">
    <option disabled selected value> --избери основно-- </option>
    <option value="meat">Месо</option>
    <option value="fisk">Риба</option>
    <option value="vegie">Вегетарианско</option>
  </select>
    <button type="button" (click)="removeOne()" class="btn btn-outline-danger">x</button>
</div>

