.plusone-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  box-shadow: 0 4px 20px #ccad90;
  position: relative;
}

.options {
  display: flex
}

button {
  position: absolute;
  right: 15px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #cc9490;
  color: #cc9490;

  &:active, &:focus, &:hover {
    background-color: #cc9490;
    border-color: #cc9490;
  }
}

.form-inline {
  display: flex;
  align-items: baseline;
  // margin: 20px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.child {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 63px;
  margin-left: 8px;
}

.horizontal.max.first {
  width: 100%;
  justify-content: end;

  .child {
    margin-left: auto;
  }
}

form {
  width: 75%;
}

select {
  margin-bottom: 15px;
}
