:host {
    margin-bottom: 2rem;
    position: relative;

    @media only screen and (max-width: 650px) {
        width: 93%;

        main {
            display: flex;
            text-align: center;
            width: 100%;

            .invitation {
                flex-direction: column;
                display: flex;
                align-items: center;
            }

            .img {
                height: max-content;
            }
        }

        .border-row {
            display: flex;
            width: 100%;
            position: relative;
            align-items: center;

            .img {
                max-width: calc(40% - 2rem);
            }

            .image-right {
                margin-left: auto;
            }

            .flip-image {
                transform: scaleX(-1);
            }

            &.bottom {
                margin-top: -5vw;
            }
        }

        .invitation {
            position: relative;

            h3 {
                width: 100%;
                font-size: 6.185vw;

                &.wrapped-h3 {
                    width: 85%;
                }
            }

            &.top {
                font-size: 8.838vw;
                font-weight: bold;
                width: 100%;
                position: absolute;
                text-align: center;
                padding-top: 3rem;
            }
        }
    }

    @media only screen and (min-width: 650px) {
        width: 604.5px;

        main {
            display: flex;
            text-align: center;
            width: 100%;

            .invitation {
                flex-direction: column;
                display: flex;
                align-items: center;
            }

            .img {
                height: max-content;
            }
        }

        .border-row {
            display: flex;
            width: 100%;
            position: relative;
            align-items: center;

            .img {
                max-width: calc(40% - 2rem);
            }

            .image-right {
                margin-left: auto;
            }

            .flip-image {
                transform: scaleX(-1);
            }

            &.bottom {
                margin-top: -32.5px;
            }
        }

        .invitation {
            width: 650px;
            position: relative;

            h3 {
                width: 100%;
                font-size: 40.205px;

                &.wrapped-h3 {
                    width: 85%;
                }
            }

            &.top {
                font-size: 57.45px;
                font-weight: bold;
                width: 100%;
                position: absolute;
                text-align: center;
                padding-top: 3rem;
            }
        }
    }

    .pls-rsvp {
        margin-top: 25px;
    }
}
