<div class='border-row'>
  <img class="img" src="assets/border1.png">
  <div class="invitation top">Яна и Филип се женят!</div>
  <img class="img flip-image image-right" src="assets/border1.png">
</div>

<main>
  <div *ngIf="invitation?.invited.length === 1" class="invitation">
    <h3><b>{{invitation.invited[0].name}} ,</b></h3>
    <h3>имаме удоволствието да те поканим на нашата сватба</h3>
    <h3>на <b>05 Септември 2021 г.</b></h3>
    <h3>в <b>La Vita Club, Ахтопол</b>!</h3>
  </div>
  <div *ngIf="invitation?.invited.length > 1 && invitation.sameName" class="invitation">
    <h3><b>{{invitation.invited[0].name.split(' ')[0]}}</b> и <b>{{invitation.invited[1].name.split(' ')[0]}}</b></h3>
    <h3><b>{{invitation.sameName}}</b>,</h3>
    <h3 class="wrapped-h3">имаме удоволствието да ви поканим на нашата сватба</h3>
    <h3>на <b>05 Септември 2021 г.</b></h3>
    <h3>в <b>La Vita Club, Ахтопол</b>!</h3>
  </div>
  <div *ngIf="invitation?.invited.length > 1 && !invitation.sameName" class="invitation">
    <h3><b>{{invitation.invited[0].name}}</b> и</h3>
    <h3><b>{{invitation.invited[1].name}}</b></h3>
    <h3>имаме удоволствието да ви поканим на нашата сватба</h3>
    <h3>на <b>05 Септември 2021 г.</b></h3>
    <h3>в <b>La Vita Club, Ахтопол!</b></h3>
  </div>

</main>

<div class="pls-rsvp">*Молим ви да изпратите вашия отговор най-късно до 31 юли</div>

<div class='border-row bottom'>
  <img class="img flip-image" src="assets/border2.png">
  <div class="invitation"></div>
  <img class="img image-right" src="assets/border2.png">
</div>