:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 650px) {
    width: 93%;
  }

  @media only screen and (min-width: 650px) {
    width: 604.5px;
  }

  .logos {
    display: flex;
    align-self: baseline;
    padding-left: 15px;
  }

  .left-icon {
    align-self: baseline;
    color: black;
    text-decoration: none;
    padding-right: 15px;

    &:hover {
      color: #ccad90;;
    }

    .fb-logo {
      height: 24px;
    }
  }

  accordion {
    width: 100%;
  }

  .map-text {
    width: 100%;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 25px;

    b {
      font-size: 25px;
    }
  }
}
