<h1>La Vita Club, Ахтопол</h1>

<div class="map-text">
  <b>И</b>збрахме за локация на сватбата си плажа на Залеза. Но това не означава, че няма да посрещнем и изгрева там.
  Партито може да продължи цяла нощ, та чак до зори, затова се пригответе за много танци, снимки и хапване. Като на
  всяка сватба, но с щипка морска романтика. Клуб Ла Вита е разположен току до морето, озвучаван от морските вълни и
  прегръщан от нежния бриз. Все пак ще можете да поръчате и по някоя песен-поздрав на диджея ни, не само морето ще има
  думата в специалния ни ден.
</div>
<div class="map-text">
  <b>З</b>аведението не е далеч от града и можете да се насладите на пешеходна разходка до него, но освен това зад плажа
  има обширно място, където да паркирате колите си. В близост има голям избор от места за настаняване, но ви препоръчваме
  да не се бавите, тъй като се запълват бързо.
</div>

<div class="logos">
  <a href="https://www.facebook.com/1655710714649875/" target="_blank" class="left-icon">
    <img class="img fb-logo" src="assets/fb-logo.png">
  </a>
  <a href="https://www.instagram.com/lavitaahtopol/" target="_blank" class="left-icon">
    <img class="img fb-logo" src="assets/ig-logo.png">
  </a>
</div>

<accordion [isAnimated]="true">
  <accordion-group heading="Виж на карта">
    <div class="map">
      <iframe height="450" loading="lazy" allowfullscreen style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJpeecYFcmoUARjou6XjrxyOw&key=AIzaSyChjpwMq8gtSd1vPnfLX7XnWXK4RCBsFFM">
      </iframe>
    </div>
  </accordion-group>
</accordion>

<carousel [noPause]="false" [isAnimated]="true">
  <slide>
    <img src="assets/map1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/map2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/map3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/map4.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/map5.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>