:host,
app-invitation,
app-navbar,
app-rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  // backdrop-filter: blur(20px);
  // box-shadow: 0px 1px 45px rgb(0 0 0 / 15%);
  // border: 2px rgba(0, 0, 0, 0.5);
  // border-radius: 20px;
  // position: relative;
  // background-color: rgb(255, 255, 255, 0.6);
}

:host,
app-navbar {
  border-radius: unset;
  // position: fixed;
}

.padded {
  width: calc(100% - 80px);
  position: relative;
  margin: 0 40px;

  @media only screen and (max-width: 800px) {
    margin: 0;
    width: 100%;
  }
}

.imageless {
  background: url('../../assets/bkg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

app-navbar {
  z-index: 1;
  position: sticky;
  top: 0px;
  background: url('../../assets/bkg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  app-navbar {

    backdrop-filter: blur(40px) !important;
    background: none;
    background-color: rgba(255, 255, 255, 0.384);
    justify-content: flex-start;
    flex-direction: row;

  }
}


app-invitation {
  display: flex;
  align-items: center;
  // backdrop-filter: blur(20px);
  // box-shadow: 0px 1px 45px rgb(0 0 0 / 15%);
  // border: 2px rgba(0, 0, 0, 0.5);
  // border-radius: 20px;
  // position: relative;
  // background-color: #e4caaf44;
}

main {
  width: 100%;
  max-width: 950px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(20px);
  background-color: rgb(255, 255, 255, 0.6);
}

:host {
  backdrop-filter: none;
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.253);
  overflow: auto;
  display: block;
  text-align: center;
}

.img {
  width: 100%
}
