<div class="imageless">
  <app-navbar></app-navbar>

  <div class="padded">
    <main>
      <img class="img"   id="invitation" src="assets/ggn5.png">
      <app-invitation></app-invitation>

      <img class="img"  id="about-us" src="assets/invitation.png">
      <app-header class="rsvp-header" [header]="'За нас'"></app-header>
      <app-about-us></app-about-us>

      <img class="img"  id="rsvp" src="assets/invitation.png">
      <app-header class="rsvp-header" [header]="'Отговор на поканата'"></app-header>
      <app-rsvp></app-rsvp>

      <img class="img" id="programa" src="assets/beachy.png">
      <app-header class="program-header" [header]="'Програма'"></app-header>
      <app-programa ></app-programa>

      <img class="img" id="maps" src="assets/gogobirbs.png">
      <app-header class="place-header" [header]="'Мястото'"></app-header>
      <app-maps></app-maps>

      <img class="img" id="questions" src="assets/qna.png">
      <app-header class="qna-header" [header]="'Въпроси и отговори'"></app-header>
      <app-questions></app-questions>
    </main>
  </div>
</div>
