.loading-program {
    border-radius: 50%;
    max-width: 50%;
}

@media only screen and (min-width: 650px) {
    :host {
        width: 604.5px;
    }
}

@media only screen and (max-width: 650px) {
    :host {
        width: 93%;
    }
}