:host {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media only screen and (max-width: 650px) {
    width: 93%;
  }

  @media only screen and (min-width: 650px) {
    width: 604.5px;
  }

  .line-center {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  }

  hr {
    width: 20vw;
    flex-grow: 1
  }

  h2 {
    padding: 0 15px;
    // font-family: 'Montserrat', sans-serif;
  }
}