<div class="rsvp-container">

  <div class="max">

    <div class="">
      <div class='menu-label'><b>Email</b></div>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
        [(ngModel)]="invitation.email" [ngClass]="{'is-valid': isEmailValid() === true, 'is-invalid': isEmailValid() === false}">
    </div>

    <div class="">
      <div class='menu-label'><b>Телефон</b></div>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+359 xxx xx xx xx"
        [(ngModel)]="invitation.phone" [ngClass]="{'is-valid': isPhoneValid() === true, 'is-invalid': isPhoneValid() === false}">
    </div>
  </div>

  <div class="horizontal max">
    <div class="option first">

      <input class="form-check-input" #going type="radio" name="flexRadioDefault" [checked]="invitation.attend === invitation?.invited?.length" (click)="setGoingPeople(invitation?.invited?.length)">
      <label class="form-check-label" for="flexRadioDefault1" (click)="going.click()">
        Ще присъствам{{e}}
      </label>

    </div>
    <div class="option">


      <input class="form-check-input" #notGoing type="radio" name="flexRadioDefault" [checked]="invitation.attend === 0" (click)="setGoingPeople(0)">
      <label class="form-check-label" for="flexRadioDefault1" (click)="notGoing.click()">
        Няма да присъствам{{e}}
      </label>

    </div>
    <div class="option">

      <ng-container *ngIf="e">
        <input class="form-check-input" #halfGoing type="radio" name="flexRadioDefault" [checked]="invitation.attend === 1" (click)="setGoingPeople(1)">
        <label class="form-check-label" for="flexRadioDefault1" (click)="halfGoing.click()">
          Ще присъства
        </label>
      </ng-container>
        <select #singlePersonSelect class="form-select select-name custom-select" [disabled]="invitation.attend !== 1"  [(ngModel)]="invitation.singlePersonGoing" (ngModelChange)="setPersonGoing($event)">
          <ng-container *ngFor="let person of invitation?.invited">
            <option [value]="person.name">{{person.name.split(' ')[0]}}</option>
          </ng-container>
        </select>
    </div>

  </div>

  <div *ngIf="invitation.attend">
    <div *ngFor="let person of invitation?.invited"  class="menu">
      <div *ngIf="person.going" class="sub-menu">
        <div class='menu-label'><b>Меню</b> за {{person.name}}</div>
        <select class="form-select custom-select" [(ngModel)]="person.menu">
          <option disabled selected value> --избери основно-- </option>
          <option value="meat">Месо</option>
          <option value="fish">Риба</option>
          <option value="vegie">Вегетарианско</option>
        </select>
      </div>
    </div>
  </div>

    <div *ngFor="let person of invitation.additionalGuests" class="plusone">
      <app-plusone [person]="person" (minusOne)=removeOne($event)></app-plusone>
  </div>
  <div *ngIf="invitation.attend > 0 && invitation.additionalGuests?.length < invitation.kids + invitation.plusOnes">
    <button (click)="addOne()" class="btn btn-outline-primary max" type="button">Добави придружител</button>
  </div>
  <button *ngIf="!this.isUpdated" type="button" class="btn btn-primary max" [disabled]="saveDisabled || isLoading" (click)="this.updateInvitation(); this.isLoading = true">Запази <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div></button>
  <button *ngIf="this.isUpdated" type="button" class="btn btn-outline-primary max" [disabled]="true">Запазено! Благодарим!</button>
</div>
