:host {
  padding: 20px;

  .rsvp-container {
    width: 100%;
  }
}

// .form-select {
//   flex-grow: 1 !important;
// }


.horizontal {
  margin-bottom: 15px;
  margin-top: 15px;
}


@media only screen and (min-width: 650px) {
  :host {
    width: 604.5px;
  }
}

@media only screen and (max-width: 650px) {
  .option {
    margin: 0 1vw;
    // width: max-content;
    font-size: 75%;
  }

  :host {
    width: 93%;
  }

}

.max {
  width: 100%;
  margin-top: 10px;
}

.option {
  &.first {
    height: 38px;
  }

  select {
    margin-left: 15px;
  }
}

.form-check-input {
  margin-top: 0;
}
